@import url('https//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

/* 클래스나 파일명은 무조건 소문자! */

*{
    box-sizing: border-box;
}

/* Padding을 주면 그만큼 box-sizing이 증가한다.
Padding을 주고싶은 만큼 빼고 box-sizing을 조정한다.
or box-sizing : border-box라고 설정 - padding을 줘도 box-sizing이 늘어나지 않게 된다.
대부분의 css,html을 boxsizing: border-box로 설정해둔다.
*/
body{
    background-color:white;
    padding:10px 20px;
    color:#020202;
    font-family:'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color:inherit;
    text-decoration: none;
}

